@font-face {
  font-family: 'Gotham Rounded';
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-medium.eot);
  /* IE9 Compat Modes */
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-medium.eot?#iefix) format("embedded-opentype"), url(https://guidango.com/fonts/gotham/gotham-rounded-medium.woff) format("woff"), url(https://guidango.com/fonts/gotham/gotham-rounded-medium.ttf) format("truetype"), url(https://guidango.com/fonts/gotham/gotham-rounded-medium.svg#GothamRoundedMedium) format("svg");
  /* Legacy iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-bold.eot);
  /* IE9 Compat Modes */
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-bold.eot?#iefix) format("embedded-opentype"), url(https://guidango.com/fonts/gotham/gotham-rounded-bold.otf) format("opentype"), url(https://guidango.com/fonts/gotham/gotham-rounded-bold.svg#gotham_roundedbold) format("svg");
  /* Legacy iOS */
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-book.eot);
  /* IE9 Compat Modes */
  src: url(https://guidango.com/fonts/gotham/gotham-rounded-book.eot?#iefix) format("embedded-opentype"), url(https://guidango.com/fonts/gotham/gotham-rounded-book.woff) format("woff"), url(https://guidango.com/fonts/gotham/gotham-rounded-book.ttf) format("truetype"), url(https://guidango.com/fonts/gotham/gotham-rounded-book.svg#gotham_roundedbook) format("svg");
  /* Legacy iOS */
}
