.js-logo {

  div#hu-experiment-header .hu-header-content img {
    max-width: 103px;
    max-height: 45px;
    margin-right: 12px;
    height: 100%;
    width: auto;
    margin-top: -8px;
  }
  #hu-container-widget[data-platform="landbot"] .hu-js-open .hu-messenger-body .hu-messenger-message.hu-messenger-message-brand[data-samurai^="-"] .hu-avatar {
    background-color: rgba(255, 255, 255, 0.2) !important;
    &:before {
      width: 27px;
      height: 27px;
      background-size: contain;
      top: 6px;
      left: 6px;
      background-position: center;
    }
  }
}

.js-novideo {
  .bg-texture, video {
    display: none!important;
  }
}

.js-image {
  #hu-experiment-header,#hu-container-widget {
    background-color: rgba(0,0,0,.4);
  }
}

.js-template {
  div#hu-experiment-header .more-leads, div#hu-experiment-header a, div#hu-experiment-header .btt, div#hu-experiment-header h1 {
    color: white;
  }
  div#hu-experiment-header {
    border-bottom-color: rgba(255,255,255,.4);
  }
  div#hu-experiment-header .more-leads.btt, div#hu-experiment-header a.btt, div#hu-experiment-header .btt.btt, div#hu-experiment-header h1.btt {
    border-color: white;
  }
  div#hu-experiment-header .more-leads.btt:hover, div#hu-experiment-header a.btt:hover, div#hu-experiment-header .btt.btt:hover, div#hu-experiment-header h1.btt:hover {
    background-color: rgba(255,255,255,.2);
  }
}

.js-template2 {
   div#hu-experiment-header  {
    background-color: white;
  }
}
