// ESTILOS PERSONALIZADOS
div#hu-experiment-header .hu-left-header img {
  margin-top: -22px;
  position: relative;
  top: 10px;
}

div#hu-experiment-header .hu-right-header a {
  border-radius: 50px;
  font-size: 14px;
  text-transform: none;
}
