// ESTILOS PERSONALIZADOS
.hu-left-header {
  img {
    width: 43px !important;
    margin-bottom: -27px;
    position: relative;
    top: -12px;
  }
  .more-leads {
      font-size: 12px!important;
  }
}
