div#hu-experiment-header .hu-left-header .more-leads {
  color: #716f71;
}

div#hu-experiment-header .hu-left-header img {
  width: 147px;
  margin-top: -11px;
  position: relative;
  top: 3px;
}

div#hu-experiment-header .hu-right-header a {
  font-size: 13px;
  text-transform: none;
}


#hu-container-widget #hu-container-messenger .hu-messenger-body .hu-messenger-body-state .hu-messenger-messages .hu-messenger-message.hu-messenger-message-user .hu-message-container .hu-message-content.hu-message-content-text,
#hu-container-widget #hu-container-messenger .hu-messenger-body .hu-messenger-body-state .hu-messenger-messages .hu-messenger-message.hu-messenger-message-brand[data-samurai^="-"] .hu-avatar {
  background-color: rgba(255,255,255,.2) !important;
}


.hu-composer-text textarea#hu-composer-box,.hu-messenger-footer .hu-footer-state .hu-composer-text #hu-composer-aux-box, .hu-messenger-footer .hu-footer-state .hu-composer-text textarea {
  &::placeholder {
    color: lighten($contrast,20%)!important;
    font-style: italic;
  }
}

#hu-container-widget #hu-container-messenger .hu-messenger-footer {
  border-color: $accent;
  border-radius: 4px;
}

.hu-messenger-footer .hu-footer-state .hu-composer-buttons .hu-composer-btn.hu-composer-send-button img {
  top: 0px;
}

.hu-italic.hu-bold::after {
  opacity: 1!important;
}
