// COLORS
$white: white;

$pink: #ce4b81;
$pink-0: #da548b;
$pink-1: #ce2d6f;

$orange: #ffad59;
$orange-light: #ffe199;

$violet: #4a50a8;
$violet-0: #6369be;
$violet-light: #b2b5de;
$blue-light: #7db9e8;
