/*#hu-container-messenger*/ .hu-messenger-body {
  .hu-bold {
    font-weight: 700 !important;
  }
  .hu-italic {
    font-weight: 500 !important;
    font-style: inherit !important;
  }
  .hu-italic.hu-bold {
    display: block;
    background: transparent;
    // margin-bottom: -16px;
    margin-bottom: -1px;
    margin-top: 2px;
    padding: 0;
    font-size: @font-size - 2;
    color: #9f9f9f;
    &:after {
      opacity: .4;
      content: "";
      background-image: url('../files/arrow.png');
      & when(@background-type = 'video') {
        background-image: url('../files/arrow-op.png');
      }
      & when(background-type = 'image') {
        background-image: url('../files/arrow-op.png');
      }
      width: 39px;
      height: 39px;
      display: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }
  }
  .hu-size-big {
    background: @accent-0;
    font-size: 13px !important;
    position: relative;
    padding: 0;
    border-radius: 4px;
    width: 107px;
    overflow: hidden;
    height: 40px;
    display: inline-block;
    &:hover {
      background-color: @accent-1;
    }
    &:before {
      content: "Sign up";
      position: absolute;
      color: @light;
      width: 100%;
      margin-top: 12px;
      text-align: center;
    }
    a {
      color: transparent !important;
      z-index: 1;
      position: relative;
      width: 107px;
      display: block;
    }
  }

  .hu-messenger-message {
    &:not(:last-child) .hu-italic.hu-bold {
      display: none !important;
    }
    &:not(.first-not-last):not(.not-first-not-last) {
      .hu-message-info {
        display: inherit;
      }
    }
    .hu-message-container {
      display: flow-root;
      position: relative;
      .hu-message-info {
        * {
          color: @light !important;
          .filter(none);
        }
        // display: inherit;
        .hu-message-info-checks {
          display: none;
        }
      }
      .hu-message-content-group {
        position: relative;
        width: 100%;
      }
      .hu-message-content {
        border-radius: 3px !important;
        padding: 12px !important;
        box-shadow: rgba(0, 0, 0, 0.08);
        p {
          font-size: @font-size !important;
          font-weight: 500 !important;
          line-height: 1.35em !important;
          font-family: @font,@font-type!important;
          span {
            font-family: @font,@font-type!important;
          }
          iframe {
            max-width: 100%;
          }
        }
        &.hu-message-content-search {
          padding: 0 !important;
          background-color: transparent !important;
          border: 2px solid white;
          .selectize-dropdown {
            display: inline-block !important;
            position: relative;
            top: 0 !important;
            left: 0 !important;
            height: auto !important;
            width: 100% !important;
            overflow: hidden;
            min-width: 350px;
            border: 0 none;
            margin: 0 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
          }
          .selectize-control {
            .display-flex();
            flex-direction: column;
          }
          .selectize-dropdown-content{
            transition: all .2s ease;
            .display-flex();
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px 12px;
            &.hu-searching {
              &:before {
                display: none;
              }
              .hu-selectize-text {
                .highlight {
                  color: white;
                  background-color: @accent;
                  border-radius: 2px;
                }
              }
            }
            &:before {
              content: 'Servicios mas solicitados';
              height: 40px;
              line-height: 40px;
              padding: 4px 18px;
              margin-left: -12px;
              margin-right: -12px;
              margin-top: -8px;
              margin-bottom: 8px;
              width: 100%;
              background-color: @light-gray;
            }
            &:empty{
              padding: 0px;
              &:before {
                display: block !important;
                content: 'Sigue buscando...';
                height: 40px;
                line-height: 40px;
                padding: 4px 18px;
                margin: 0;
                width: 100%;
                background-color: @light-gray;
              }
            }
          }
          .hu-selectize-item{
            min-width: 50%;
            background-color: @light !important;
            .display-flex();
            padding: 8px;
            flex-direction: row;
            .animation(appear-right2);
            .animation-duration(.5s);
            position: relative;
            transition-timing-function: ease-in-out;
            &:hover {
              background-color: @accent !important;
              color: white;
              border-radius: 4px;
            }
            .hu-selectize-avatar {
              background-position: center center;
              width: 40px;
              height: 40px;
              border-radius: 100%;
              background-repeat: no-repeat;
              display: inline-block;
              position: relative;
              background-size: cover;
            }
            .hu-selectize-text {
              flex: 1;
              line-height: 40px;
              padding-left: 12px;
              .highlight {
                color: inherit;
                background-color: inherit;
                border-radius: 0;
              }
            }
          }
          .selectize-input {
            background: transparent;
            box-shadow: none;
            border: 0 none;
            .display-flex();
            flex-direction: row;
            padding: 12px 18px;
            .item {
              flex: 1;
            }
            input {
              flex: 1;
              color: @accent;
              &::-webkit-input-placeholder { /* WebKit browsers */
                  color: @accent-0;
              }
              &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                 color: @accent-0;
              }
              &::-moz-placeholder { /* Mozilla Firefox 19+ */
                 color: @accent-0;
              }
              &:-ms-input-placeholder { /* Internet Explorer 10+ */
                 color: @accent-0;
              }
              &:active, &:focus {
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: transparent;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: transparent;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: transparent;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                   color: transparent;
                }
              }
            }
          }
          .selectize-input:after {
            border: 0 none;
            content: '🔍';
            width: initial;
            position: relative;
            right: 0;
            top: 3px;
            font-size: 17px;
          }
          .selectize-input:before {
            display: none;
          }
        }
        &.hu-message-content-buttons {
          background: transparent !important;
          // padding: 0 !important;
          padding: 15px 0 0 0 !important;
          // margin: 30px 0 13px;
          margin: 0 0 0 49px;
          box-shadow: none;
          position: relative;
          left: 0;
          width: 100%;
          // top: -20px;
          // display: none;
          &::before {
            position: relative;
            top: -8px;
            color: @light;
            font-weight: 300;
            font-size: 9px;
            content: "CHOOSE AN OPTION";
          }
          .hu-dual-buttons {
            .hu-btn.hu-btn-sm.hu-btn-block.hu-btn-pink {
              &:last-child {
                background-color: transparent;
                color: @accent-0;
                border-color: @accent-0;
                & when (@background-type = 'video') {
                  color: @light;
                  border-color: @light;
                }
                &:hover {
                  background-color: lighten(@accent,5%);
                  border-color: darken(@accent,10%);
                  color: @light;
                }
                // &:first-child {
                //   background-color: @accent-0;
                //   color: @light;
                // }
              }
            }
          }
          .hu-btn.hu-btn-sm.hu-btn-block.hu-btn-pink {
            float: left;
            margin-right: 6px;
            border-radius: 4px !important;
            font-size: 15px;
            padding: 15px 31px;
            border-width: 2px;
            line-height: 1.3;
            background-color: @accent;
            border-color: darken(@accent,10%);
            color: @light;
            // & when (@background-type = 'video') {
            //   color: @light;
            //   border-color: darken(@accent,15%);
            // }
            span {
              font-family: @font,@font-type!important;
            }
            &:hover {
              box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
              background-color: lighten(@accent,5%);
            }
          }
        }
        &.hu-message-content-image {
          width: 100%;
          img {
            max-width: 100% !important;
            min-width: 100% !important;
            height: auto !important;
            max-height: none;
          }
        }
      }
    }
    &:last-child .hu-message-content-buttons {
      display: inherit !important;
      .animation(appear-right2);
      .animation-duration(.5s);
      position: relative;
      transition-timing-function: ease-in-out;
    }
    .hu-avatar {
      width: 40px !important;
      height: 40px !important;
    }

    // AUTHOR SPECIFIC: USER
    &.hu-messenger-message-user .hu-message-container {
      .hu-message-content.hu-message-content-text {
        // background: rgba(255, 255, 255, 0.13) !important;
        background: @accent !important;
        color: @light;
        // & when (@background-type = 'video') {
        //   background-color: rgba(255,255,255,.2) !important;
        // }
        // & when (@background-type = 'image') {
        //   background-color: rgba(255,255,255,.2) !important;
        // }
      }
      .hu-message-info {
        position: absolute;
        bottom: 22px;
        right: -40px;
        // display: none !important;
        * {
          color: @light !important;
          .filter(none);
          // .filter(~"brightness(10) grayscale(10) opacity(1) contrast(10) !important");
        }
      }
    }
    // AUTHOR SPECIFIC: BRAND
    &.hu-messenger-message-brand {
      .animation(appear-left);
      .animation-duration(.3s);
      position: relative;
      &[data-samurai^="\-"] .hu-avatar {
        position: relative;
        left: -7px;
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.08);
        // Bot Avatar
        background-image: none !important;
        background-color: @accent;
        & when (@background-type = 'video') {
          background-color: rgba(255,255,255,.2) !important;
        }
        & when (@background-type = 'image') {
          background-color: rgba(255,255,255,.2) !important;
        }
        overflow: hidden;
        &::before {
          content: "";
          position: relative;
          top: 5px;
          background-size: 100%;
          background-image: url("@{staticUrl}/landbot/files/avatar.png");
          width: 26px;
          height: 26px;
          display: inherit;
          background-repeat: no-repeat;
          left: 7px;
        }
      }
      .hu-message-content {
        background-color: @light !important;
        color:@light-text ;
      }
      // Estilos para que los links parezcan botones
      a.hu-link:not([href*=mailto]) {
        background-color: @accent;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 259px;
        display: block;
        width: 100%;
        border-radius: 6px;
        color: @light !important;
        text-decoration: none !important;
        padding: 17px;
      }
    }
  }
}
