@media screen and (min-width: 800px) {
  .hu-messenger-body-state {
    padding: 55px 13% 0 !important;
  }
  .hu-messenger-footer {
    margin: 0 13% 30px 13%;
  }
}

@media screen and (min-width: 1044px) {
  .hu-messenger-body-state {
    padding: 55px 23% 0 !important;
  }
  .hu-messenger-footer {
    margin: 0 23% 30px 23%;
  }
}

@media screen and (min-width: 1300px) {
  .hu-messenger-body-state {
    padding: 55px 30% 0 !important;
  }
  .hu-messenger-footer {
    margin: 0 30% 30px 30%;
  }
}

@media screen and (max-width: 799px) {
  .hu-messenger-message.hu-messenger-message-user .hu-message-info {
    display: none !important;
  }
  .hu-messenger-footer {
    .hu-composer-emoji-button, .hu-composer-file-button{
        position:initial !important;
        left: initial !important;
        bottom: initial !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .hu-messenger-body-state {
    padding-bottom: 150px;
  }
  #hu-container-messenger .hu-messenger-body .hu-messenger-message .hu-message-container {
    .hu-message-content.hu-message-content-buttons {
      max-height: 205px;
      overflow: scroll;
      position: fixed;
      bottom: 0;
      margin: 0;
      padding: 20px !important;
      background-color: white !important;
      &::before { content: none; }
      .hu-dual-buttons .hu-btn.hu-btn-sm.hu-btn-block.hu-btn-pink:last-child {
        background-color: @accent;
        border-color: darken(@accent,10%);
        color: @light;
      }
      .hu-btn.hu-btn-sm.hu-btn-block.hu-btn-pink {
        width: 100%;
        max-width: 100%;
        float: none;
        text-align: left;
        &[data-include="icon"], &[data-include="image"] {
          .display-flex();
          align-items: center;
          i.fi {
            display: inline-block;
            margin: 0 20px 0 0;
          }
          .hu-btn-image {
            width: 40px;
            height: 40px;
            margin: 0 20px 0 20px;
            border-radius: 50%;
          }
          span {
            width: auto;
          }
        }
      }
    }
  }
  .hu-loader {
    transform: scale(0.5);
    margin-top: -109px;
    &:before {
      background: transparent !important;
      font-size: 26px;
      top: -193px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .hu-message-avatar, .hu-avatar {
    display: none !important;
  }
  .hu-messenger-body-state .hu-messenger-messages {
    margin: 0 12px !important;
  }
  .hu-messenger-footer {

  }
  .hu-messenger-message .hu-message-container .hu-message-content-group {
    max-width: 100%;
    .hu-message-content{
      &:not(.hu-message-content-buttons) {
        max-width: 82%;
      }
      .hu-btn-block {
        text-align: center;
      }
    }
  }
  div#hu-container-widget div#hu-container-messenger .hu-messenger-body .hu-messenger-body-state {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  div#hu-container-widget div#hu-container-messenger .hu-messenger-body .hu-messenger-body-state .hu-messenger-messages {
    padding-bottom: 0 !important;
  }
}
