// BRAND AVATAR
#hu-container-widget[data-platform="landbot"] .hu-js-open {
  .hu-messenger-body {
      .hu-messenger-message {
        &.hu-messenger-message-brand[data-samurai^="\-"] {
          .hu-avatar {
            &:before {
              // background-image: url(../files/avatar2.png)!important;
              // width: 70px!important;
              // height: 70px!important;
              // margin: -20px -19px;
              // top: -10px!important;
                // background-image: url(https://storage.googleapis.com/media.yexir.com/receive/10016/W.png)!important;
                width: 35px !important;
                height: 35px !important;
                top: 4px !important;
                margin-left: -1px;
                // width: 41px !important;
                // height: 41px !important;
                // top: 2px !important;
                // margin-left: -7px;
            }
            background-color: transparent!important;
          }
        }
      }
  }
}
// End brand avatar


#hu-container-widget {
  .hu-messenger-body .hu-messenger-message .hu-message-container .hu-message-content p {
    // font-size: 15px;
    letter-spacing: -.1px;
  }
}

textarea#hu-composer-box {
  font-size: 15px!important;
  letter-spacing: -.1px;
}

@media screen and (min-width:800px){
  textarea#hu-composer-box {
    padding-top: 21px;
  }
}

// HEADER
div#hu-experiment-header {
  .hu-header-content img.brand-logo {
    width: 41px;
    max-height: inherit;
    margin: -3px 17px -8px -8px;
    height: auto;
    display: none;
  }
  h1.brand-name,span.more-leads,.btt span.btt-content {
    color: white;
  }
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}


// Botón de upload
.hu-composer-file-button.hu-composer-btn.btn-upload {
  img {
    display: none;
  }
  &:before {
    content: "Upload your file";
    background-color: #f61152;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: 'Gotham Rounded';
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 12px;
    border: 2px solid #d80a45;
    position: absolute;
    width: 183px;
    top: -73px;;
    left: 18px;

  }
  &:hover {
    transform: none!important;
    &:before {
        background-color: #ff2c68;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    }
  }
}

// OCULTAR EMOJI E IMAGEN
//
.hu-composer-file-button svg, .hu-composer-emoji-button svg {
  opacity: 0;
}

.hu-messenger-body .hu-messenger-message .hu-message-container .hu-message-content.hu-message-content-buttons .hu-dual-buttons .hu-btn.hu-btn-sm.hu-btn-block.hu-btn-pink:last-child {
  border-color: white!important;
}


// FIXED FOOTER
.fixedFooter .foot-container .logo img {
  width: 44px!important;
  top: -19px!important;
  left: -21px!important;
}

.color-picker {
  width: calc(100% - 32px)!important;
}

// PH
div#hu-experiment-header .hu-header-content a.ph {
  width: inherit!important;
  padding: 0!important;
  max-width: inherit!important;
  max-height: inherit!important;
  margin: 0 0 0 5px!important;
  position: relative;
}

div#hu-experiment-header .hu-header-content a.ph:hover {
  box-shadow: none!important;
}

div#hu-experiment-header .hu-header-content a.ph img {
  margin-top: 12px;
  width: 52px;
  height: auto!important;
  max-width: inherit;
  max-height: inherit;
}
