.hu-back-btn {
  z-index: 21100000;
  position: fixed;
  bottom: 6px;
  text-align: center;
  left: 20px;
  width: 36px;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  padding: 11px;
  .fi {
    background-color: #F61152;
    border-radius: 100%;
    padding: 6px 7px;
    color: white;
    height: 20px;
    &:before {
      position: relative;
      top: 1px;
    }
  }
  span {
    font-size: 9px !important;
      font-weight: 500 !important;
      line-height: 1.35em !important;
      font-family: "Gotham Rounded", sans-serif !important;
      color: white;
      text-transform: uppercase;
      display: block;
      margin-top: 16px;
      opacity: 0;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}

#hu-container-widget[data-platform="landbot"] .hu-js-open {

  .hu-messenger-body {
      .hu-messenger-message {

        // BRAND AVATAR
        &.hu-messenger-message-brand[data-samurai^="\-"] {

          .hu-avatar {

            &:before {
              top: -8px;
              background-image: url(../files/avatar2.png)!important;
              width: 74px;
              position: relative;
              height: 70px;
              left: -14px;
            }
            box-shadow: none;
            background-color: transparent!important;
            overflow: inherit;
          }
        }
        // End brand avatar
      }
  }
}


// COLOR PICKER
.color-picker {
  background: transparent!important;
  width: 100%;
  height: 24px!important;
  margin: -4px 0 -13px !important;
  padding: 0 19px;
}

.color-picker ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.color-picker
 ul li {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  display: inline-block;
  margin-right: 9px;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}


// ============
// UPLOAD FILES
// ============

// Btn UPLOAD
.hu-composer-file-button.hu-composer-btn.btn-upload {
  img {
    display: none;
  }
  &:before {
    content: "Upload your file";
    background-color: #f61152;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: 'Gotham Rounded';
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 12px;
    border: 2px solid #d80a45;
    position: absolute;
    width: 183px;
    top: -81px;
    left: 9px;

  }
  &:hover {
    transform: none!important;
    &:before {
        background-color: #ff2c68;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    }
  }
}

// File close
.hu-messenger-footer .hu-footer-state .hu-composer-files .hu-composer-file span.hu-composer-fileclose img {
  width: 9px!important;
  position: relative;
  top: -9px;
  left: -1px;
}
