$light: white;
$contrast: white;
$dark: black;
$accent: #F61152;
$header-background: transparent;
$font-size: 14px;
$font: "Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica, sans-serif;

// HEADER

div#hu-experiment-header  {
 background-color: $header-background!important;
}
div#hu-experiment-header .more-leads.btt, div#hu-experiment-header a.btt, div#hu-experiment-header .btt.btt, div#hu-experiment-header h1.btt {
  border: 1px solid rgba(red($light), green($light), blue($light), 0.7)!important;
}

div#hu-experiment-header {
  border-bottom-color: rgba(red($contrast), green($contrast), blue($contrast), 0.4);
}

.btt .hu-bold {
  font-weight: bolder!important;
}

div#hu-experiment-header .hu-header-content a {
  font-weight: normal!important;
  padding: 12px 28px!important;
}

span.more-leads {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

span.btt-content {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1.brand-name {
  word-break: break-word;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// VARIOS
.hu-loader {
  &:before {
    content:""!important;
  }
}

// BOTONES
.hu-messenger-body .hu-messenger-message .hu-message-content:not(.hu-message-content-buttons) {
  background-color: $light !important;
  color: $dark;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1)!important;
}


// TEXTAREA
textarea#hu-composer-box {
  min-height: 49px;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-y: auto;
  resize: none;
  padding: 16px 25px 0 10px;
}

.hu-composer-send-button.hu-composer-btn {
  left: -21px;
  top: 12px!important;
  &.hu-js-hide {
    display: inherit!important;
    opacity: .3;
    pointer-events: none;
  }
}
.hu-composer-file-button.hu-composer-btn {
  left: -11px!important;
}

.hu-composer-emoji-button.hu-composer-btn {
  left: 15px!important;
}

@media screen and (min-width:800px){

  .hu-composer-send-button.hu-composer-btn {
    &:after {
      content: "Press enter to send";
      position: absolute;
      bottom: -75px;
      right: -36px;
      color: $light;
      text-transform: uppercase;
      font-family: $font;
      font-weight: 300;
      font-size: $font-size - 3;
      width: 133px;
      word-wrap: break-word;
      white-space: pre-wrap;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
    &.hu-js-hide {
      &:after {
        display: none;
      }
    }
  }

  textarea#hu-composer-box {
    word-wrap: break-word;
    white-space: pre-wrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 22px 61px 22px 22px;
    background-color: $light!important;
    border-radius: 4px;
    border: 7px solid $light!important;
    border-bottom-width: 20px!important;
    transition: all, .25s;
    overflow-y: auto;
    background: $light!important;
    resize: none;
  }

  textarea#hu-composer-box:focus {
    padding-bottom: 35px!important;
    box-shadow: 0 0 0px 3px $accent!important;
  }

  .hu-messenger-footer {
    background-color: transparent!important;
  }

  .hu-composer-send-button.hu-composer-btn {
    left: -61px;
    top: 23px!important;
  }
  .hu-composer-file-button.hu-composer-btn, .hu-composer-emoji-button.hu-composer-btn {
    bottom: -31px!important;
  }
}


// BRAND AVATAR
#hu-container-widget[data-platform="landbot"] .hu-js-open {
  .hu-messenger-body {
      .hu-messenger-message {
        &.hu-messenger-message-brand[data-samurai^="\-"] {
          .hu-avatar {
            &:before {
              top: -8px;
              width: 74px;
              position: relative;
              height: 70px;
              left: -14px;
            }
            box-shadow: none;
            overflow: inherit;
          }
        }
      }
  }
}


  div#hu-experiment-header .hu-header-content img {
    max-width: 103px;
    max-height: 45px;
    margin-right: 12px;
    height: 100%;
    width: auto;
    margin-top: -8px;
  }

  #hu-container-widget[data-platform="landbot"] .hu-js-open .hu-messenger-body .hu-messenger-message.hu-messenger-message-brand[data-samurai^="-"] .hu-avatar {
    &:before {
      width: 27px;
      height: 27px;
      background-size: contain;
      top: 6px;
      left: 6px;
      background-position: center;
    }
  }

// End brand avatar


// COLOR PICKER
.color-picker {
  background: $light;
  width: calc(100% - 32px);
  height: 55px !important;
  margin: 0 0 -29px;
  padding: 6px 28px 0;
  position: relative;
  z-index: 1;
  top: -3px;
  border-radius: 6px 6px 0 0;
  ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    li {
      width: 20px;
      height: 20px;
      border-radius: 100px;
      display: inline-block;
      margin-right: 9px;
      cursor: pointer;
      &:hover {
        opacity: .6;
      }
    }
  }
  @media screen and (max-width: 800px){
    background: transparent;
    width: 100%;
    margin: -4px 0 -33px;
    padding: 0px 11px 0;
  }
}

// Captura imágenes
.hu-messenger-footer .hu-footer-state .hu-composer-files {
  background: $light!important;
  border-radius: 6px!important;
  @media screen and (max-width:800px){
    padding: 9px 19px 20px!important;
  }
  .hu-composer-file span.hu-composer-fileclose img {
    width: 9px!important;
    position: relative;
    top: -9px;
    left: -1px;
  }
}


// Mensajes imagen
.hu-message-content.hu-message-content-image {
  max-width: 360px!important;
}
