#hu-container-widget[data-platform="landbot"] .hu-js-open {

  .hu-messenger-body {
      .hu-messenger-message {

        // BRAND AVATAR
        &.hu-messenger-message-brand[data-samurai^="\-"] {
          .hu-avatar {
            &:before {
              top: -8px;
              background-image: url(../files/avatar2.png)!important;
              width: 74px;
              height: 70px;
              left: -14px;
            }
            box-shadow: none;
            background-color: transparent!important;
            overflow: inherit;
          }
        }
        // End brand avatar
      }
  }
} // End Widget

  // LOGO
  div#hu-experiment-header .hu-header-content img.brand-logo {
    width: 72px;
    max-height: inherit;
    margin: -3px -6px -8px -8px;
  }
