.btt {
  margin-right: 6px;
  text-transform: none;
  border-radius: 38px;
  overflow: hidden;
  height: 14px;
  text-align: center;
  span {
    display: block;
    transition: all .4s ease-in-out;
    &.btt-content {
      transform: translateY(0);
    }
    &.btt-on-hover {
      position: relative;
      transform: translateY(25px);
    }
  }
  &:hover {
    & when (@background-type = 'image'), (@background-type = 'video') {
    }
    span {
      &.btt-content {
        transform: translateY(-45px);
      }
      &.btt-on-hover {
        position: relative;
        transform: translateY(-14px);
      }
    }
  }
  .hu-bold {
    font-weight: 500;
  }
}
