.btt {
  margin-right: 6px;
  text-transform: none;
  // display: inline-block;
  // position: relative;
  // top: -12px;
  border-radius: 38px;
  overflow: hidden;
  height: 14px;
  text-align: center;
  color: @light;
  span {
    display: block;
    transition: all .4s ease-in-out;
    &.btt-content {
      transform: translateY(0);
    }
    &.btt-on-hover {
      position: relative;
      transform: translateY(25px);
    }
  }
  &:hover {
    span {
      &.btt-content {
        transform: translateY(-45px);
      }
      &.btt-on-hover {
        position: relative;
        transform: translateY(-14px);
      }
    }
    border: 1px solid @contrast-0;
  }
  .hu-bold {
    font-weight: 500;
  }
}
